html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/* ---------------------- Navbar ----------------------*/



.header {
    background-color: #1f2937;
}


.nav-bar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;

}
.nav-lists {
    display:flex;
    list-style-type: none;
    gap:22px;

}

.nav-bar a {
    text-decoration: none;
    color:white;
}


/* ---------------------- Hero Section ----------------------*/

.hero-section {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
    gap: 40px;

}

.hero-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width:500px;
}

.hero-text h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    margin-bottom: 8px;
    letter-spacing: -2px;;
}

.hero-text p {
     font-size: 18px;
    color: #E5E7EB;
    line-height: 1.5;
}

.hero-text a {
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    padding: 10px 32px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 12px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    min-width: 200px;
}

.first-info, .second-info, 
.third-info, .fourth-info {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    gap:10px;
    margin-bottom: 80px;
}

.info-text {
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
    text-align:center;
    margin-bottom: 20px;
}

.testimonials {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    padding:40px;
}

.testimonials blockquote {
    max-width: 800px;
    margin: 0 auto;
}

.cta {
    display:flex;
    background-color:white;
    color:white;
    justify-content: space-evenly;
    padding: 60px;
}
.cta-container {
    display: flex;
    background-color: #3882F6;
    padding:20px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    }

.cta-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.cta-btn a {
    text-decoration: none;
    color:#E5E7EB;
    border:2px solid white;
    padding:4px 18px;
    border-radius: 10px;
}

.footer {
    background-color: #1f2937;
    color:#ffffff;
    text-align: center;
    padding:10px;
}