html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

p{
    font-size: 18px;
    color:#E5E7EB;
}

.header {
    background-color: #1f2937;
}


.nav-bar {
    display:flex;
    justify-content: space-between;
}
.nav-lists {
    display:flex;
    list-style-type: none;
    gap:10px;

}

.nav-bar a {
    text-decoration: none;
    color:white;
}

.hero-section {
    display:flex;
    justify-content: space-between;
}

.hero-section .hero-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}